#loginPage{
  margin:0;
  padding:0;
  font-family: "Gotham Bold", sans-serif;
  background: #97999B;
}
#homePage{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gotham Bold", sans-serif;
}

#firstPage, 
#thirdPage,
#fourthPage {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00205B;
    color: #C69214;
    align-items: center;
}

h3{
    font-family: 'Gotham Bold', sans-serif;
    text-align: center;
    margin: 9px;
    padding: 8px;
    padding-right: 18%;
    font-size: 20px;
    color: #00205B;
}

ul { 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #C69214;
}

#navTwo {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  background-color: #C69214;
}

li {
  float: left;
}

li a {
  display: block;
  color: #00205B;
  font-family: 'Gotham Book', sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 19px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #97999B;
}

.active {
  background-color: #fff;
}

#secondPage {
  background:#97999B;
  font-family: 'Gotham Bold', sans-serif;
  font-weight: 400;
}
.event-container {
  font-family: 'Gotham Bold', sans-serif;
  max-width: 800px;
  padding-top: 50px;
  margin: 0 auto;
}

.event-container h3.year {
  font-size: 40px;
  text-align: center;
  padding: 19px 16px;
  background-color: #F4F1E6;
  border-bottom: 1px solid #b1b1b1;
}

.event-container .event {
  box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
  background-color: #C69214;
  display: flex;
  border-radius: 8px;
  margin: 32px 0;
}

.event .event-left {
  background: #00205B;
  min-width: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  padding: 8px 48px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px 0 0 8px;
}

.event .event-left .date {
  font-size: 56px;
}

.event .event-left .month {
  font-size: 16px;
  font-weight: normal;
}

.event .event-right {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  padding: 0 25px;
}

.event .event-right h3.event-title {
  font-size: 24px;
  padding: 19px 16px;
  color: #00205B;
  text-transform: uppercase;

}

.event .event-right .event-timing {
  background: #fff8ba;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  padding: 8px;
  border-radius: 16px;
  margin: 24px 0;
  font-size: 14px;
}

.event .event-right .event-location {
  background: #fff8ba;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 8px;
  border-radius: 16px;
  margin: 24px 0;
  font-size: 14px;
}

.event .event-right .event-timing img {
  height: 20px;
  padding-right: 8px;
}

.event .event-right .event-location img {
  height: 20px;
  padding-right: 8px;
}

@media (max-width: 550px) {
  .event {
    flex-direction: column;
  }

  .event .event-left {
    padding: 0;
    border-radius: 8px 8px 0 0;
  }

  .event .event-left .event-date .date,
  .event .event-left .event-date .month {
    display: inline-block;
    font-size: 24px;
  }

  .event .event-left .event-date {
    padding: 10px 0;
  }
}

section{
  position:relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url(images/bg.jpg);
  background-size: cover;
  background-position: center;
}

header{
  position: relative;
  top: 0;
  width: 85%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo{
  position: relative;
  color: #00205B;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}

header .navigation a{
  color: #00205B;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: background;
}

header .navigation a:not(:last-child){
  margin-right: 30px;
}

header .navigation a:hover{
  background: #97999B;
}

.content{
  max-width: 650px;
  margin: 60px 100px;
}

.content .info h2{
  color:#C69214;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 30px;
}

.content .info h2 span{
  color: #00205B;
  font-size: 55px;
  font-weight: 800;
}

.content .info p{
  color: #00205B;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 40px;
}

.content .gsw-site{
  color: #00205B;
  background: #C69214;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
  transition-property: background;
}

.content .gsw-site:hover{
  background: #b1b1b1;
}

.media-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.media-icons a{
  position: relative;
  color: #00205B;
  font-size: 25px;
  transition: 0.3s;
  transition-property: transform;
}

.media-icons a:not(:last-child){
  margin-right: 60px;
}

.media-icons a:hover{
  transform: scale(1.5);
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(198,146,20,.8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,32,91,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #00205B;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #00205B;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #00205B;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #00205B;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #00205B,
              0 0 25px #00205B,
              0 0 50px #00205B,
              0 0 100px #00205B;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ffffff);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ffffff);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #ffffff);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ffffff);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}