#loginPage{
  background: url(images/loginbg.jpg);
	background-size: cover;
	align-items: center;
	justify-content: center;
	display: flex;
	font-family: sans-serif;
}
#homePage{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gotham Bold", sans-serif;
}

#firstPage, 
#thirdPage,
#fourthPage {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00205B;
    color: #C69214;
    align-items: center;
}

h3{
    font-family: 'Gotham Bold', sans-serif;
    text-align: center;
    margin: 9px;
    padding: 8px;
    padding-right: 18%;
    font-size: 20px;
    color: #00205B;
}

ul { 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #C69214;
}

#navTwo {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  background-color: #C69214;
}

li {
  float: left;
}

li a {
  display: block;
  color: #00205B;
  font-family: 'Gotham Book', sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 19px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #97999B;
}

.active {
  background-color: #fff;
}

#secondPage {
  background:#97999B;
  font-family: 'Gotham Bold', sans-serif;
  font-weight: 400;
}
.event-container {
  font-family: 'Gotham Bold', sans-serif;
  max-width: 800px;
  padding-top: 50px;
  margin: 0 auto;
}

.event-container h3.year {
  font-size: 40px;
  text-align: center;
  padding: 19px 16px;
  background-color: #F4F1E6;
  border-bottom: 1px solid #b1b1b1;
}

.event-container .event {
  box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
  background-color: #C69214;
  display: flex;
  border-radius: 8px;
  margin: 32px 0;
}

.event .event-left {
  background: #00205B;
  min-width: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  padding: 8px 48px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px 0 0 8px;
}

.event .event-left .date {
  font-size: 56px;
}

.event .event-left .month {
  font-size: 16px;
  font-weight: normal;
}

.event .event-right {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  padding: 0 25px;
}

.event .event-right h3.event-title {
  font-size: 24px;
  padding: 19px 16px;
  color: #00205B;
  text-transform: uppercase;

}

.event .event-right .event-timing {
  background: #fff8ba;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  padding: 8px;
  border-radius: 16px;
  margin: 24px 0;
  font-size: 14px;
}

.event .event-right .event-location {
  background: #fff8ba;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 8px;
  border-radius: 16px;
  margin: 24px 0;
  font-size: 14px;
}

.event .event-right .event-timing img {
  height: 20px;
  padding-right: 8px;
}

.event .event-right .event-location img {
  height: 20px;
  padding-right: 8px;
}

@media (max-width: 550px) {
  .event {
    flex-direction: column;
  }

  .event .event-left {
    padding: 0;
    border-radius: 8px 8px 0 0;
  }

  .event .event-left .event-date .date,
  .event .event-left .event-date .month {
    display: inline-block;
    font-size: 24px;
  }

  .event .event-left .event-date {
    padding: 10px 0;
  }
}

section{
  position:relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url(images/bg.jpg);
  background-size: cover;
  background-position: center;
}

header{
  position: relative;
  top: 0;
  width: 85%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo{
  position: relative;
  color: #00205B;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}

header .navigation a{
  color: #00205B;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: background;
}

header .navigation a:not(:last-child){
  margin-right: 30px;
}

header .navigation a:hover{
  background: #97999B;
}

.content{
  max-width: 650px;
  margin: 60px 100px;
}

.content .info h2{
  color:#C69214;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 30px;
}

.content .info h2 span{
  color: #00205B;
  font-size: 55px;
  font-weight: 800;
}

.content .info p{
  color: #00205B;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 40px;
}

.content .gsw-site{
  color: #00205B;
  background: #C69214;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
  transition-property: background;
}

.content .gsw-site:hover{
  background: #b1b1b1;
}

.media-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.media-icons a{
  position: relative;
  color: #00205B;
  font-size: 25px;
  transition: 0.3s;
  transition-property: transform;
}

.media-icons a:not(:last-child){
  margin-right: 60px;
}

.media-icons a:hover{
  transform: scale(1.5);
}

.container{
	position: relative;
	margin-top: 100px;
	width: 450px;
	height: auto;
	background: #C69214;
	border-radius: 5px;
}

.label{
	padding: 20px 130px;
	font-size: 35px;
	font-weight: bold;
	color: #00205B;
}
.login_form{
	padding: 20px 40px;
}
.login_form .font{
	font-size: 18px;
	color: #00205B;
	margin: 5px 0;
}
.login_form input{
	height: 40px;
	width: 350px;
	padding: 0 5px;
	font-size: 18px;
	outline: none;
	border: 1px solid #00205B;
}
.login_form .font2{
	margin-top: 30px;
}
.login_form button{
	margin: 45px 0 30px 0;
	height: 45px;
	width: 365px;
	font-size: 20px;
	color: #00205B;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	background: #F4F1E6;
	border-radius: 3px;
	border: 1px solid #97999B;
	transition: .5s;
}
.login_form button:hover{
  color: white;
	background: #00205B;
}
.login_form #email_error,
.login_form #pass_error{
	margin-top: 5px;
	width: 345px;
	font-size: 18px;
	color: #C62828;
	text-align: center;
	padding: 5px 8px;
	border-radius: 3px;
	border: 1px solid #FFFFFF;
	display: none;
}